@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css");
@import "tailwindcss";

@theme {
    /* --color-primary: #4F8CFF; */
    /* --color-tertiary: #B07300; */

    --font-sans: 'Inter Tight', sans-serif;
    --font-serif: 'Instrument Serif', serif;
}

@layer base {

    *{
        outline: transparent;
    }

    html {
        font-size: 1rem;
    }

    body { 
        background: var(--color-stone-950);   
        color: var(--color-stone-200);
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
}

@utility font-serif {
    font-family: var(--font-serif);
    font-style: italic;
}

@utility text-faded {
    color: var(--color-stone-300);
}

@utility text-highlight{
    @apply bg-[var(--color-tertiary)] px-2.5;
}   


@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@layer components {
    dialog{
        @apply rounded-xl abs-center p-8 bg-stone-900 border-stone-800 text-stone-200 w-100 h-60;
    }

    button, .btn {
        @apply p-2 px-4.5 inline-block rounded-lg w-fit bg-red-500 text-white font-semibold tracking-wide;
    }

    .badge{
        @apply text-sm p-1.5 px-3 cursor-pointer rounded-lg border border-stone-800;
    }

    .badge-incomplete{
        @apply text-red-500 font-bold;
    }


    .badge-complete{
        @apply text-green-500 font-bold;
    }

    .text-priority-low{
        @apply text-blue-500;
    }

    .text-priority-medium{
        @apply text-orange-400;
    }

    .text-priority-high{
        @apply text-red-500;
    }


    .btn-secondary{
        @apply rounded-lg border border-stone-800 bg-transparent;
    }

    .input{
        @apply flex flex-col gap-1 mb-4;

        label{
            @apply text-sm;
        }

        .checkbox-grid {
            @apply gap-2 grid grid-cols-1 md:grid-cols-4 lg:grid-cols-7;

            .checkbox {
                @apply flex items-center gap-2 transition cursor-pointer;

                input {
                    @apply hidden;
                }

                &:has(input:checked) {
                    @apply bg-stone-800 scale-102;
                }
            }
        }
    }

    .input-group{
        @apply grid grid-cols-2 gap-3;
    }

    input, select, .checkbox{
        @apply p-2 px-3 border border-stone-800 rounded-lg;
    }

    select option{
        @apply bg-stone-900;
    }

    .hero{
        @apply w-full max-w-[1000px] md:w-[1000px] abs-center;
        
        #title {
            @apply mb-6;
        }

        #buttons {
            @apply flex items-center gap-1.5 mb-4;
        }
    }

    .dashboard{
        @apply min-h-screen md:grid md:grid-rows-[60px_1fr] md:grid-cols-[240px_1fr];

        header{
            @apply px-7 flex items-center col-span-2;

            span{
                @apply text-lg w-full text-white font-bold;
            }
        }

        aside{
            @apply px-4;

            ul{
                @apply flex flex-col gap-1;
            }

            li a{
                @apply block px-3 py-2 rounded-md text-sm transition hover:bg-stone-900;
            }

            li a.active{
                @apply bg-stone-900;
            }
        }

        main{
            @apply relative p-12 flex flex-col gap-6 rounded-tl-xl border-l border-t border-stone-900;

            hgroup{
                @apply flex items-center gap-3;

                h1 span{
                    @apply text-red-500;
                }

                .divider{
                    @apply h-8 w-[1px] bg-stone-900;
                }
            }

            .title{
                @apply text-6xl font-bold tracking-tighter;
            }

            .table{
                @apply w-full;

                th span{
                    @apply flex gap-2 items-center;

                    svg{
                        @apply w-5;
                    }
                }
            }
            
            .table,
            .table th,
            .table td {
                @apply p-3;
            }

            .table thead{
                @apply text-white text-left border-b border-stone-800;
            }

            .items-grid{
                @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4;

                .item{
                    @apply flex flex-col gap-1 bg-stone-900 border border-stone-800 rounded-xl p-6;

                    .item-info{

                        span{
                            @apply block h-[2lh] text-4xl font-semibold;
                        }
                        .item-info-divider{
                            @apply w-full h-[1px] bg-stone-800;
                        }

                        p{
                            @apply text-sm text-faded;
                        }
                    }

                    .item-actions{
                        a {
                            @apply text-xs transition hover:text-white;
                        }

                        span{
                            @apply text-xs;
                        }
                    }
                }
            }

            .empty-state{
                @apply text-center abs-center;

                h2{
                    @apply text-lg text-white;
                }
            }
        }
    }
}
