<h1 class="title">Add Subject</h1>

<form id="add-subject-form">
    <div class="input">
        <label for="subjectName">Subject Name</label>
        <input type="text" id="subjectName" name="subjectName" placeholder="e.g Maths">
    </div>

    <div class="input">
        <label>Days of the week</label>
        <div class="checkbox-grid">
            <template x-data x-for="(day, index) in $store.days" :key="index">
                <label class="checkbox">
                    <input type="checkbox" name="subjectDays" :value="index">
                    <span x-text="day"></span>
                </label> 
            </template>
        </div>
    </div>

    <button class="btn" type="submit">Add subject</button>
</form>