<hgroup>
    <h1 class="title">Settings<span>.</span></h1>
    <div class="divider"></div>
    <p class="text-faded">Manage your settings here.</p>
</hgroup>

<div class="settings-section">
    <p class="settings-section-title">Manage Data</p>

    <div class="setting">
        <div class="setting-details">
            <p class="setting-name">Import data</p>
            <p class="setting-description">Import your .json file</p>
        </div>
        <div class="setting-actions">
            <a href="#" class="btn">Export Data</a>
        </div>
    </div>

    <div class="setting">
        <div class="setting-details">
            <p class="setting-name">Import data</p>
            <p class="setting-description">Import your .json file</p>
        </div>
        <div class="setting-actions">
            <a href="#" class="btn">Import Data</a>
        </div>
    </div>
</div>

<div class="settings-section">
    <p class="settings-section-title">Manage Data</p>

    <div class="setting">
        <div class="setting-details">
            <p class="setting-name">Import data</p>
            <p class="setting-description">Import your .json file</p>
        </div>
        <div class="setting-actions">
            <a href="#" class="btn">Export Data</a>
        </div>
    </div>

    <div class="setting">
        <div class="setting-details">
            <p class="setting-name">Import data</p>
            <p class="setting-description">Import your .json file</p>
        </div>
        <div class="setting-actions">
            <a href="#" class="btn">Import Data</a>
        </div>
    </div>
</div>