<hgroup>
    <h1 class="title">Your tasks<span>.</span></h1>
    <div class="divider"></div>
    <p class="text-faded">View and manage all of your tasks.</p>
</hgroup>

<div x-data="tasks">
    <a href="" @click.prevent="newTask" class="btn btn-sm">New Task</a>
</div>

<table>
    <tr>
        <th><span><i data-lucide="a-large-small"></i> Task Name</span></th>
        <th><span><i data-lucide="check-check"></i> Status</span></th>
        <th><span><i data-lucide="calendar"></i> Due Date</span></th>
        <th><span><i data-lucide="chevron-down"></i> Priority</span></th>
        <th><span><i data-lucide="library"></i> Subject</span></th>
        <th><span><i data-lucide="shapes"></i> Task Type</span></th>
    </tr>
    <tr>
        <td>Task Name</td>
        <td>Status</td>
        <td>Assignee</td>
        <td>Due Date</td>
        <td>Priority</td>
        <td>Task Type</td>
    </tr>
    <tr>
        <td>Task Name</td>
        <td>Status</td>
        <td>Assignee</td>
        <td>Due Date</td>
        <td>Priority</td>
        <td>Task Type</td>
    </tr>
    <tr>
        <td>Task Name</td>
        <td>Status</td>
        <td>Assignee</td>
        <td>Due Date</td>
        <td>Priority</td>
        <td>Task Type</td>
    </tr>
    <tr>
        <td>Task Name</td>
        <td>Status</td>
        <td>Assignee</td>
        <td>Due Date</td>
        <td>Priority</td>
        <td>Task Type</td>
    </tr>
</table>